@font-face {
    font-family: 'airbnbcereal_regular';
    src: url('../fonts/airbnbcereal_w_bk-webfont.woff2') format('woff2'),
         url('../fonts/airbnbcereal_w_bk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'airbnbcereal_bulk';
    src: url('../fonts/airbnbcereal_w_blk-webfont.woff2') format('woff2'),
         url('../fonts/airbnbcereal_w_blk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family:  'airbnbcereal_regular','Times New Roman', Times, serif;
  width: 100vw;
  height: 100vh;
}

.start-container{
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 165px;
}

.input-dialog{
  outline: 1px solid black;
}

.game-container{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.game-grid, .cell {
  outline: 1px solid black;
}

.game-grid{
  margin: 0 auto;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.game-grid .grid-row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game-grid .cell {
  width: 100%;
  height: 100%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}